baseURL = 'https://www.sunless.com/'
languageCode = 'en-US'
Title = 'Sunless'
theme = "void"
defaultContentLanguage = "en"
relativeURLs = false
canonifyURLs = true
# Ignore specific warning logs
ignoreLogs = ['warning-goldmark-raw-html']

# Allow raw HTML in Markdown
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

# Social media links
[params]
  [params.social]
    github = "https://github.com/Sunless"
    twitter = "https://twitter.com/YourTwitterUsername"
    email = "your.email@example.com"
  [params.avatar]
    url = "/avatar.jpeg"
[[menus.main]]
name = 'Home'
pageRef = '/'
weight = 10

[[menus.main]]
name = 'Posts'
pageRef = '/posts'
weight =  20

[[menus.main]]
name = 'Categories'
pageRef = '/categories'
weight = 25

[[menus.main]]
name = 'Tags'
pageRef = '/tags'
weight = 30

[[menus.main]]
name = 'About'
pageRef = '/about'
weight = 40

# Build settings
[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [module.hugoVersion]
    extended = true
    min = "0.128.0"
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'

# Multilingual settings
[languages]
  [languages.zh]
    languageName = "Chinese"
    weight = 2
    title = "Sunless's Blog"
    description = "Share knowledge, experience, and ideas (Chinese)"
  [languages.en]
    languageName = "English"
    weight = 1
    title = "Sunless's Blog"
    description = "Share knowledge, experience, and ideas"

# Image cache settings
[caches]
  [caches.images]
    dir = ':cacheDir/images'

# Disqus comment system configuration
[services]
  [services.disqus]
    shortname = 'sunless-blog'

# Privacy settings
[privacy]
  [privacy.disqus]
    disable = false
    simple = true  # Use simplified mode to reduce third-party requests